html{
  min-height:100%;
}



body{
  margin: 0;
  padding:0;
  fon-family:sans-serif;
  background:url(/img/mario-bg.png) no-repeat;
  background-size:100%;
  background-position: bottom;
 background-color: #1fb6db;
min-height:100%;

}
form{
  padding:20px;
  margin-top:60px;
}
form button, form h5{
margin:20px;
}
input[type=text]:not(.browser-default):focus:not([randomly]),
input[type=email]:not(.browser-default):focus:not([randomly]),
input[type=password]:not(.browser-default):focus:not([randomly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow:none;
}